{% extends 'base.html' %}

{% block title %}
Информация
{% endblock %}

{% block body %}
<div class="container">
    <center><img src="static/img/big_logo_r.png" alt="" width="300" height="300"></center>
    <div class="rgbtext"><center><h1>Rulity</h1></center></div>
    <h5 align="center">Rulity - это простой любительский маркетплейс, где люди могут продавать/покупать вещи в выбранной ими категории. Мы выступаем в роли посредника между продавцом и покупателем и гарантируем безопасность обеим сторонам. Покупая у нас, вы соглашаетесь с условиями публичной оферты.</h5>
</div>
{% endblock %}
