{% extends "base.html" %}

{% block title %}
Добавление товара
{% endblock %}

{% block body %}
    <h1 align="center">Добавление товара</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(class="form-control") }}<br>
            {% for error in form.description.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.category.label }}<br>
            {{ form.category(class="form-control") }}<br>
            {% for error in form.category.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.price.label }}<br>
            {{ form.price(class="form-control") }}<br>
            {% for error in form.price.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.pic_url.label }}<br>
            {{ form.pic_url(class="form-control") }}<br>
            {% for error in form.pic_url.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p align="center">{{ form.submit(type="submit", class="btn rgbbtn") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}