{% extends 'base.html' %}

{% block title %}
FAQ
{% endblock %}

{% block body %}
<div class="container">
    <center><img src="static/img/big_logo_r.png" alt="" width="300" height="300"></center>
    <center><h1>Общие вопросы</h1></center>
    <br>
    <h2>Как мне купить или продать товар?</h2>
    <p class="perenos2" style="color: gray;">Для купли/продажи товара вам необходимо зарегистрироваться и авторизоваться на сайте, после чего вам станут доступны все функции сайта</p>
    <br>
    <h2>Что станет с моими товарами, если я удалю аккаунт?</h2>
    <p class="perenos2" style="color: gray;">После удаления аккаунта удаляются все ранее выложенные товары, принадлежащие вам</p>
    <br>
    <h2>Сколько товаров можно выложить одновременно?</h2>
    <p class="perenos2" style="color: gray;">У каждого пользователя есть право выкладывать неограниченное количество лотов</p>
    <br>
</div>
{% endblock %}
